html{
    box-sizing: border-box;

}

*
*::before,
*::after{
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}



:root{
    --background-color:#fff;
    --accent-color: #2196F3;
    --header-color: #212121;
    --subheader-color: #757575;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);  
 }

.container{
    width: 1200px;
    padding-left:15px;
    padding-right:15px;
    margin: 0 auto;
}
/*logo*/


.logo-link{
    margin-right: 85px;
    padding-top: 19px;
    padding-bottom: 25px;
}

.first-part-of-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.47;
    color: var(--accent-color);
    letter-spacing: 0.03em;
    
}
.second-part-of-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.47px;
    color: black;
    letter-spacing: 0.03em;   
}

/*header without logo*/
header a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.navigation-pannel{
    display: inline-flex;

 }

 .header .flex-container{
    display: inline-flex;
    align-content: baseline;
 }

 .navigation-items {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
 }
 

 .navigation-items .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.navigation-items :not(:last-child){
    margin-right: 50px;
}

.flex-container {
    display: flex;
    align-items: center;
    padding-left: 0;
}



.navigation-items .link:hover,
.navigation-items .link:focus{
    color: var(--accent-color);
}

.navigation-items a {
    color:var(--header-color);
}

.navigation-items{
    display: flex;
}

.contact-info :hover,
.contact-info :focus{ 
    color: var(--accent-color);
}

.contact-info a{
    color:var(--subheader-color)

}


.contact-info .contact{
    margin-right: 30px;  
    padding-top: 32px;
    padding-bottom: 32px;     

}

.contact-info .contact:first-child{
    margin-left: 380px;
}

.contact-info .contact:last-child{
    margin-right: 0px;
}

/*hero section*/

.hero-section{
    padding-bottom: 250px;
    padding-top: 200px;
}

.hero-section .container{

    display: flex ;
    flex-direction: column;
    align-items: center;   
}


.hero-section-header{ 
    font-weight: 900;
    width: 696px;
    font-family: Roboto;
    font-style: normal;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    
   }


.hero-section-button:hover{
    background-color: var(--accent-color);
    color:#fff ;
}

.hero-section-button{
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.80;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    color: #fff;
    height: 50px;
    width: 200px;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


/*Наши преимущества*/

.to-hide{
    display: none;
}

.our-benefits li{
    list-style-type: none;
}

.our-benefits{
    padding-bottom: 94px;
}

.our-benefits-header{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--header-color);
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.our-benefits-description{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--subheader-color);
    letter-spacing: 0.03em;
    margin-top: 0px;
    width: 270px;
}

.our-benefits-list .our-benefits-item{
    margin-right: 30px;   
}

.our-benefits-list .our-benefits-item:last-child{
    margin-right: 0;
}

.our-benefits> .flex-container {
    padding-left: 0;
    margin-top: 0;  
}

/*чем мы занимаемся*/
.what-we-are-doing li{
    list-style-type: none;
}

.what-we-are-doing{
    padding-bottom: 94px; 
}

.what-we-are-doing-header{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
}


.what-we-are-doing-example .what-we-are-doing-item{
    margin-right: 30px;
}

.what-we-are-doing-example{
    justify-content: center;
}
.what-we-are-doing-example .what-we-are-doing-item:last-child{
    margin-right: 0px;
}

.what-we-are-doing>.flex-container{
    margin-top: 0px; 
}

.what-we-are-doing-example .what-we-are-doing-item{
padding-left: 0px;
}

.what-we-are-doing-list{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    /*color: #fff;*/
    background-color:;
}

/*our team*/
    .wrapper{
    background-color: #F5F4FA;
    display: block;
}
.our-team-section li{
    list-style-type: none;
}

.our-team-section-header{
    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
.our-team-section{
    background-color: #F5F4FA;
    background-size: 100%;
    padding-bottom: 94px;
    padding-top: 94px;
}

.our-team-list {
    padding-left: 0px;
    margin-top: 0;
    
}

.our-team-list .our-team-member:not(:last-child){
    margin-right: 30px;
}


.our-team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--header-color);
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}
.our-team-position{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    color: var(--subheader-color);
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 16px;
}
.our-team-social-links :hover,
.our-team-social-links :focus{
    color: var(--accent-color);
}

.team-links{
    text-decoration: none;
}

/*наши постоянные клиенты*/
.our-clients-list .link:hover,
.our-clients-list .link:focus{
    color: var(--accent-color);
}

.our-clients-section{
    padding-bottom: 94px;
    padding-top: 94px;
}

.our-clients-list{
    padding-left: 0;

}

.client-picture{
    display: block;
}

.our-clients-list .client-picture{
    margin-right: 30px;
}

.our-clients-list .client-picture:last-child{
    margin-right: 0;
}


.our-clients-header{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.67x;
    color: var(--header-color);
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    
}

.our-clients-list li{
    text-decoration: none;
    list-style-type: none;
}
.client-logo:hover{
    color: var(--accent-color);
}
/*подвал*/

.footer a{
    text-decoration: none;
}
.footer{
    background-color: #2F303A;
}

.footer >.container{
    display: flex;
}
.footer .second-part-of-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.47px;
    color:#fff;
    letter-spacing: 0.03em;
}
.logo-link-footer{
    padding-top: 60px;
    margin-bottom: 20px;
}

.footer-first-part{
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 69px;
}
.footer-items{
    text-decoration: none;
    list-style-type: none;
    letter-spacing: 0.03em;
    padding-left: 0;
}
.footer-address{
    color: #fff;
    font-style:normal;
    letter-spacing: 0.03em;
   
}

.footer-contacts .footer-contact{
    display: block;
    padding-right: 0;
    margin-top: 9px;
}

.footer-contact{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7; 
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
}

.join-us-link >.join-us-header,
.join-us{
    display:flex;
    vertical-align: top;
}

.footer{
    display: flex;
    
}
.join-us .link:hover,
.join-us .link:focus{
    color: var(--accent-color);
}

.footer-part-one  {
    margin-right: 69px;
    padding-right: 0px;
    width: ;
}


.join-us{
    text-decoration: none;
    list-style-type: none;
}
.join-us-header{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.03em;
    margin-top: 72px;
}

/*portfolio page*/



.gallery-items{
    text-decoration: none;
    list-style-type: none;

    display: flex;
    justify-content: center;
    
    
    padding-top: 93px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 0;
}




.btn-list{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 38px;
    background-color: #F5F4FA;
    border-radius: 4px;
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
}

    .gallery-items .button-portfolio:not(:last-child){
        margin-right: 8px;
    }

.btn-list:hover{
    color: #fff;
    background-color: var(--accent-color)
}




.portfolio-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
}
.pottfolio.pic{
    display:block;
}

.portfolio-list .portfolio.item{
    padding: 0px;
}

.portfolio-list .portfolio-item{
    margin-right: 30px;
}

.portfolio-list .portfolio-item:nth-child(3n){
    margin-right: 0;

}

.portfolio-list-header{
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: var(--header-color);
    letter-spacing: 0.03em;
    margin-top: 20px;
    margin-bottom: 8px;
}
.portfolio-list-description{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    color: var(--subheader-color);
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 20px;
}


.portfolio{
    padding-bottom: 94px;
}

/*text-decoration: none;
    list-style-type: none;*/

    2n + 1

    
    2
